@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #E7F6F2;
    margin: 0;
}